body{
    background-color: rgb(209, 255, 216);
}

nav {
    background-color: #00cc5c;
    color: white;
    text-shadow: 1px 1px 2px #9995b6;
}

.navBar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
    list-style-type: none;
    margin: 0;
}

.navBar a {
    color: white;
    text-decoration: none; 
}

img{
    width: 100%;
    max-width: 250px;           
    height: 250px;          
    object-fit: cover;      
    border: 2px solid #a4daa2;
    border-radius: 12%;
}

.titleparagraph {
    color: red;
    font-weight: bold;
}



.sezione-personaggi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;       
    align-items: flex-start;
    justify-content: center;
    gap: 30px; 
    padding: 20px;
}


.personaggio {
    text-align: center;
    max-width: 250px;       
    flex: 1 1 200px;        
}

.sezione-personaggi hr {
    display: none;
}



.sezione-requisiti {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: stretch;     
    gap: 30px;              
    padding: 40px 20px;
}

/* Stilo dei quadrati */
.scheda-requisiti {
    background-color: white;
    border: 3px solid #005626;
    border-radius: 12px;
    padding: 25px;
    width: 360px;         
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}


.scheda-requisiti h2 {
    color: #008f40;
    margin-top: 0;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 2px solid #a4daa2;
    padding-bottom: 10px;
}

.scheda-requisiti ul {
    list-style-type: none; 
    padding: 0;
    margin: 15px 0 0 0;
}




